In [95]:
import pandas as pd
from pathlib import Path
import os
import numpy as np

In [144]:
df = pd.read_csv('../data/raw/Test.csv')

In [147]:
# df = df.reset_index().rename(columns={'index':'id'})
df.head()

,id,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [148]:
df.to_csv('../data/raw/Train.csv',index=False)

In [23]:
os.path.abspath('app.py')

'C:\\Codes\\Python\\Store_Sales_Prediction\\notebooks\\app.py'

In [32]:
Path.cwd().parent.parent

WindowsPath('C:/Codes/Python/Store_Sales_Prediction')

In [44]:
with open('../src/other/logs/train_log.txt') as f:
    st = f.read()
    st = st.split('*')
    lst = []
    for i in range(len(st)):
        if i%2!=0:
            stt = st[i].split('\n')
            dct = {}
            for j in range(1,len(stt)-1):
                split_text = stt[j].split(': ')
                key = split_text[0].strip()
                val = split_text[1].strip()
                dct[key] = val
            lst.append(dct)

In [45]:
lst

[{'TimeStamp': '2021-09-14 16:47:28.783963',
  'Model Name': 'CatBoostRegressor',
  'R2 Score': '0.5453650346055008',
  'Mean Abs Error': '742.1582307861552',
  'Mean Sq Error': '1139123.5159865844',
  'Root Mean Sq Error': '1067.2972950338553'},
 {'TimeStamp': '2021-09-14 16:48:54.904778',
  'Model Name': 'CatBoostRegressor',
  'R2 Score': '0.5453650346055008',
  'Mean Abs Error': '742.1582307861552',
  'Mean Sq Error': '1139123.5159865844',
  'Root Mean Sq Error': '1067.2972950338553'}]

In [211]:
df = pd.read_csv('../data/raw/Train.csv')

In [212]:
df  = df.reset_index().rename(columns={'index':'id'})

In [213]:
df.rename(columns={'index':'id'},inplace=True)

In [214]:
df.tail()

,id,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [215]:
max(df['id'])

8522

In [216]:
df.to_csv('../data/raw/Train.csv',index=False)

In [129]:
dct1 = [{'name':'mandd','age':3},{'name':'RohitMan','age':3}]
df1 =pd.DataFrame(dct1)
df1

       name  age
0     mandd    3
1  RohitMan    3

In [130]:
dct2 = [{'name':'Raj','age':2},{'name':'sjbjdf','age':3},{'name':'ksidufdf','age':3}]
df2 =pd.DataFrame(dct2)
df2

       name  age
0       Raj    2
1    sjbjdf    3
2  ksidufdf    3

In [208]:
df3 = pd.concat([df1,df2]).reset_index()
# df3.to_dict()

In [210]:
# df3.reset_index()
df3

   index      name  age
0      0     mandd    3
1      1  RohitMan    3
2      0       Raj    2
3      1    sjbjdf    3
4      2  ksidufdf    3

In [133]:
xx = len(df3[df3.duplicated()])>0

In [134]:
df3[~df3.duplicated()]

       name  age
0     mandd    3
1  RohitMan    3
2       Raj    2
3    sjbjdf    3
4  ksidufdf    3

In [135]:
xy = pd.merge(df1,df2, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1).reset_index(drop=True)

In [136]:
xy

       name  age
0     mandd    3
1  RohitMan    3

In [109]:
 np.arange(8522+1,len(df3)+8522+1)

array([8523, 8524, 8525, 8526, 8527, 8528])

In [108]:
df3

       name  age
0  RohitMan    3
1  RohitMan    3
2       Raj    2
3  RohitMan    3
4  RohitMan    3
5  RohitMan    3

In [115]:
dct4 = [{'name':'RohitMan','age':3},{'name':'RohitMan','age':3}]
df4 = pd.DataFrame(dct4)
df4

       name  age
0  RohitMan    3
1  RohitMan    3

In [118]:

df4.to_dict('records')

[{'name': 'RohitMan', 'age': 3}, {'name': 'RohitMan', 'age': 3}]

In [143]:
import json
json.dumps(df.iloc[0:2].to_dict('records'))

'[{"id": 0, "Item_Identifier": "FDA15", "Item_Weight": 9.3, "Item_Fat_Content": "Low Fat", "Item_Visibility": 0.016047301, "Item_Type": "Dairy", "Item_MRP": 249.8092, "Outlet_Identifier": "OUT049", "Outlet_Establishment_Year": 1999, "Outlet_Size": "Medium", "Outlet_Location_Type": "Tier 1", "Outlet_Type": "Supermarket Type1", "Item_Outlet_Sales": 3735.138}, {"id": 1, "Item_Identifier": "DRC01", "Item_Weight": 5.92, "Item_Fat_Content": "Regular", "Item_Visibility": 0.019278216, "Item_Type": "Soft Drinks", "Item_MRP": 48.2692, "Outlet_Identifier": "OUT018", "Outlet_Establishment_Year": 2009, "Outlet_Size": "Medium", "Outlet_Location_Type": "Tier 3", "Outlet_Type": "Supermarket Type2", "Item_Outlet_Sales": 443.4228}]'

In [160]:
df.drop(columns=['id'],inplace=True) if 'id' in df.columns else ''

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.21,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.80,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700
8523,FDW58,20.75,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,1713.4050
8524,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2201.6060

In [195]:
df.iloc[:8523].to_csv('../data/raw/Train.csv',index=False)

In [196]:
df.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.21,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.80,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700
8523,FDW58,20.75,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,1713.4050
8524,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,2201.6060

In [177]:
dctl = {'a':1,'b':2}
for i in dctl.keys():
    print(i)

a
b

In [178]:
a = 1
a!=''

True

In [219]:
df_testy = pd.DataFrame([
        {
            "Item_Fat_Content": "Low Fat",
            "Item_Identifier": "FDW58",
            "Item_MRP": 107.8622,
            "Item_Outlet_Sales": 1713.405,
            "Item_Type": "Snack Foods",
            "Item_Visibility": 0.007565,
            "Item_Weight": 20.75,
            "Outlet_Establishment_Year": 1999,
            "Outlet_Identifier": "OUT049",
            "Outlet_Location_Type": "Tier 1",
            "Outlet_Size": "Medium",
            "Outlet_Type": "Supermarket Type1"
        },
        {
            "Item_Fat_Content": "Regular",
            "Item_Identifier": "FDB58",
            "Item_MRP": 141.3154,
            "Item_Outlet_Sales": 2201.606,
            "Item_Type": "Snack Foods",
            "Item_Visibility": 0.013496,
            "Item_Weight": 10.5,
            "Outlet_Establishment_Year": 1997,
            "Outlet_Identifier": "OUT046",
            "Outlet_Location_Type": "Tier 1",
            "Outlet_Size": "Small",
            "Outlet_Type": "Supermarket Type1"
        }
    ])
df_testy

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type
0,Low Fat,FDW58,107.8622,1713.405,Snack Foods,0.007565,20.75,1999,OUT049,Tier 1,Medium,Supermarket Type1
1,Regular,FDB58,141.3154,2201.606,Snack Foods,0.013496,10.50,1997,OUT046,Tier 1,Small,Supermarket Type1

In [220]:
df_testy.to_csv('../data/test_train.csv',index=False)